package dashboard_pages

import (
	"github.com/Molnes/Nyhetsjeger/internal/api/web/views/components"
	"github.com/Molnes/Nyhetsjeger/internal/api/web/views/components/dashboard_components"
)

// The "Create quiz" page. This page is used to create a new quiz.
// Add title, image, articles, active time, questions and answers.
templ CreateQuiz() {
	@components.Layout() {
		<div class="flex flex-col items-center gap-3 max-w-screen-sm m-auto px-5 py-3">
			<h1 class="text-2xl">Ny Quiz</h1>
			@dashboard_components.CreateQuizForm("") {
				<label for="quiz-title" class="block">Tittel</label>
				<input id="quiz-title" class="bg-gray-200 w-full px-2 py-1" type="text"/>
			}
			@dashboard_components.CreateQuizForm("") {
				<label for="quiz-image" class="block">Forside bilde</label>
				<input id="quiz-image" type="file" accept="image/png, image/jpg, image/jpeg, image/webp" class="bg-gray-100 p-3 w-full [&:hover]:cursor-pointer"/>
			}
			@dashboard_components.CreateQuizForm("") {
				<h2>Artikler i quizzen</h2>
				<div class="flex flex-row gap-5 mb-3">
					<label for="add-article">Link<input type="text" id="add-article" class="bg-gray-200 px-2 py-1 ml-3"/></label>
					<button hx-post="" title="Add article" id="add-article" class="bg-gray-300 px-5 py-1">
						Legg til ➕
					</button>
				</div>
				<ul id="article-list" class="w-full bg-gray-300 [&>*:nth-child(odd)]:bg-gray-200">
					// If the list is empty, show message: "Ingen artikler lagt til enda."
					<li class="flex flex-row justify-between px-3 py-1"><a target="_blank" href="https://smp.no" class="[&:hover]:underline">https://smp.no</a><button>❌</button></li>
					<li class="flex flex-row justify-between px-3 py-1"><a target="_blank" href="https://smp.no" class="[&:hover]:underline">https://smp.no</a><button>❌</button></li>
				</ul>
			}
			@dashboard_components.CreateQuizForm("") {
				<h2>Aktiv</h2>
				<div class="block mb-3"><label for="quiz-active-start" class="mr-4">Fra</label><input id="quiz-active-start" type="date" class="bg-gray-200 px-3 py-1"/></div>
				<div class="block mb-3"><label for="quiz-active-end" class="mr-5">Til</label><input id="quiz-active-start" type="date" class="bg-gray-200 px-3 py-1"/></div>
			}
			@dashboard_components.CreateQuizForm("") {
				<h2>Spørsmål</h2>
				<ul class="w-full bg-gray-300 [&>*:nth-child(odd)]:bg-gray-200">
					<li class="flex flex-row justify-between px-3 py-1">Hva er hovedstaden i Italia?<button>✏️</button></li>
				</ul>
				<button class="mt-3 px-3 py-1 bg-gray-300 block mx-auto">Legg til nytt spørsmål ➕</button>
			}
			<div class="flex flex-row justify-around w-full px-5 py-3 mt-5">
				<button class="bg-gray-100 text-red-600 font-bold px-3 py-1 w-40">Slett quiz 🗑️</button>
				<div class="bg-gray-100 px-3 py-1 w-40 flex flex-row justify-center gap-2">
					<label for="quiz-is-hidden">Skjul quiz</label>
					<input id="quiz-is-hidden" type="checkbox"/>
				</div>
				<button class="bg-gray-100 font-bold px-3 py-1 w-40">OK ✅</button>
			</div>
		</div>
	}
}
