package components

import "fmt"

// Shows an error message.
templ ErrorText(className string, errorText string) {
	<p class={ fmt.Sprintf("text-red-600 text-left mt-1 font-sans %s", className) }>{ errorText }</p>
}
