package components

// This is a tooltip button component.
// It displays a circular button with the text 'i' with a tooltip.
templ TooltipButton(tooltipText string) {
	<button
		class="inline leading-[1.4rem] relative rounded-1/2 border-gray-500 text-gray-500 border-2 w-6 h-6 font-bold tooltip-parent hover:border-cindigo focus:border-cindigo hover:text-cindigo focus:text-cindigo"
		type="button"
		aria-label="tooltip"
	>
		i
		@Tooltip(tooltipText)
	</button>
}
