package components

// Tooltip works by putting the class inside of a tooltip button.
templ Tooltip(tooltipButtonID string, tooltipText string) {
	<span class="z-10 relative -top-2 left-full tooltip">Tooltip text</span>
}
