package dashboard_components

// The form wrapper for the "edit quiz" page form elements.
// Used for layout.
templ EditQuizForm(post string, children ...interface{}) {
	<form hx-post={ post } class="w-full mb-10">
		{ children... }
	</form>
}
