package dashboard_components

import "fmt"

// Shows an error message.
templ ErrorText(elementID string, errorText string) {
	<p class={ fmt.Sprintf("text-red-500 text-left mt-1 font-sans %s", elementID) }>{ errorText }</p>
}
