package public_pages

import "github.com/Molnes/Nyhetsjeger/internal/api/web/views/components/layout_components"

templ ForbiddenPage() {
	@layout_components.BaseLayout() {
		<main class="flex flex-col items-center justify-center min-h-screen">
			<h1 class="text-6xl">Forbidden</h1>
			<p>You are not allowed to access the page you requested.</p>
		</main>
	}
}
