package public_pages

import "github.com/Molnes/Nyhetsjeger/internal/api/web/views/components"

templ HomePage() {
	@components.Layout() {
		<main class="flex flex-col items-center justify-center min-h-screen">
			<h1>QUIZ</h1>
			<p>Velkomen til nyhetsjeger</p>
			<a
				class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
				href="/login"
			>SPILL NÅ</a>
		</main>
	}
}
