package public_pages

import "github.com/Molnes/Nyhetsjeger/internal/api/web/views/components"

templ LoginPage() {
	@components.Layout() {
		<div class="flex flex-col items-center justify-center min-h-screen">
			<a
				href="/auth/google/login"
				class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
			>
				Logg inn med Google
			</a>
			<a
				href="/"
				class="text-blue-500 hover:underline mt-3"
			>Fortsett som gjest</a>
		</div>
	}
}
