package dashboard_pages

import (
	"github.com/Molnes/Nyhetsjeger/internal/web_server/web/views/components/layout_components"
)

templ UserDetailsPage() {
	@layout_components.DashBoardLayout("Brukerdetaljer") {
	}
}
