
package quiz_pages

import "github.com/Molnes/Nyhetsjeger/internal/api/web/views/components/layout_components"

templ FinishedQuizzes() {
	@layout_components.QuizLayout("Fullførte quizzer") {
		<h1>Fullførte quizzer</h1>
	}
}
