package icons

import "fmt"

//Checkmark icon. Parameters are strokeWidth, stroke, and tailwind integer of height and width.
templ Checkmark(strokeWidth float64, stroke string, height int, width int) {
	<svg xmlns="http://www.w3.org/2000/svg" class={ fmt.Sprintf("h-%d w-%d", height, width) } viewBox="0 0 512 512"><path fill="none" stroke={ stroke } stroke-linecap="round" stroke-linejoin="round" stroke-width={ fmt.Sprintf("%.1f", strokeWidth) } d="M416 128L192 384l-96-96"></path></svg>
	//Based upon design by Refactoring UI Inc.
}
