package icons

import "fmt"

templ Cross(strokeWidth float64, stroke string, height int, width int) {
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={ fmt.Sprintf("%.1f", strokeWidth) } stroke={ stroke } class={ fmt.Sprintf("h-%d w-%d", height, width) }>
		<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
	</svg>
	//Based upon design by Refactoring UI Inc.
}
