package layout_components

import "github.com/Molnes/Nyhetsjeger/internal/api/web/views/components/quiz_components"

templ QuizLayout() {
	@BaseLayout() {
		@quiz_components.BurgerMenu()
		{ children... }
	}
}
