@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom variables */
:root {
        --cblue: #0085FF;
        --cindigo: #5B14F2;
        --cfuchsia: #AD00FF;
}

/* CSS classes ".scrollbar-hide" and ".scrollbar-hide::-webkit-scrollbar" (next 2) taken from https://design2tailwind.com/blog/tailwindcss-hide-scrollbar/ */
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
        display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
}

/* Background Gradient */
.cgradient {
        background-image: linear-gradient(to bottom right, var(--cblue), var(--cindigo), var(--cfuchsia));
}

/* Gradient Border */
.cgradient-border {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

}

.gradient-shadow {
    position: relative;
}

.gradient-shadow::before {
    content: "";
    position: absolute;
    inset: 5px;
    z-index: -1;
    background: rgb(0, 150, 184);
    /* gradient using the custom properties */
    background: linear-gradient(125deg, var(--cblue), var(--cindigo), var(--cfuchsia));
    filter: blur(10px);
}

.box {
    position: relative;
    background: white;
    padding: 10px;
    border-radius: 1rem;
    height: 5rem;
    width: 5rem;
    margin: 5rem;
}

.box::before {
    content: "";
    position: absolute;
    inset: 5px;
    z-index: -1;
    background: rgb(0, 150, 184);
    background: linear-gradient(125deg, rgba(0, 150, 184, 1) 0%, rgba(212, 37, 255, 1) 100%);
    filter: blur(10px);
}
