@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom variables */
:root {
    /* Color */
    --cblue: #0085FF;
    --cindigo: #5B14F2;
    --cfuchsia: #CA1FFF;

    /* Border radius */
    --br-button: 0.5rem;
    --br-card: 0.5rem;
    --br-input: 0.5rem;

    /* The inset of the gradient outline */
    --outline-inset: -3px;
}

/* CSS classes ".scrollbar-hide" and ".scrollbar-hide::-webkit-scrollbar" (next 2) taken from https://design2tailwind.com/blog/tailwindcss-hide-scrollbar/ */
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.htmx-indicator {
    opacity: 0;
    transition: opacity 100ms ease-in
}

.htmx-request .htmx-indicator {
    opacity: 1;
}

.htmx-request.htmx-indicator {
    opacity: 1;
}

/* Background Gradient */
.cgradient {
    background-image: linear-gradient(to bottom right, var(--cblue), var(--cindigo), var(--cfuchsia));
}

.cgradient:is(:hover, :focus) {
    animation: hueRotate 800ms infinite alternate;
}

@keyframes hueRotate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(80deg);
    }
}

/* Gradient Border */
.cgradient-border {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.gradient-shadow,
.gradient-shadow-always {
    position: relative;
}

.gradient-shadow::before,
.gradient-shadow-always::before {
    content: "";
    position: absolute;
    inset: var(--outline-inset);
    z-index: -1;
    background-color: var(--cindigo);
    border-radius: calc(var(--br-button) - var(--outline-inset));
    /* gradient using the custom properties */
    background-image: linear-gradient(125deg, var(--cblue), var(--cindigo), var(--cfuchsia));
    filter: blur(0.5rem);
    opacity: 0;
    transition: opacity 100ms linear;
}

/* When the gradient shadow element is either hovered or focused */
/* Display the blurry background gradient (functions like a shadow) */
.gradient-shadow:is(:hover, :focus-within)::before,
.gradient-shadow-always::before {
    opacity: 1;
}

.gradient-outline,
.gradient-outline-thick,
.gradient-outline-circle {
    position: relative;
}

.gradient-outline::after,
.gradient-outline-thick::after,
.gradient-outline-circle::after {
    content: "";
    position: absolute;
    inset: var(--outline-inset);
    z-index: -1;
    border-radius: calc(var(--br-button) - var(--outline-inset));
    background: var(--cindigo);
    background: linear-gradient(125deg, var(--cblue), var(--cindigo), var(--cfuchsia));
}

.gradient-outline-thick::after {
    inset: calc(var(--outline-inset) * 1.5);
    border-radius: calc(var(--br-button) - calc(1.5 * var(--outline-inset)));
}

.gradient-outline-circle::after {
    border-radius: 50%;
}

.tooltip-parent:hover>.tooltip {
    display: inline-block;
}

.gradient-bg-button {
    @apply text-white font-sans rounded-button bg-center text-center cgradient font-bold;
}

.answer-button {
    @apply lg:text-lg leading-5 p-4 min-h-20 lg:min-h-24 rounded-button bg-white gradient-outline text-wrap;
}

@keyframes fadeOpacity {

    0%,
    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#question-list,
#article-list {
    counter-reset: css-counter 0;
}

#question-list li[data-element-type="question-list-item"],
#article-list li[data-element-type="article-list-item"] {
    counter-increment: css-counter 1;
}

#question-list li[data-element-type="question-list-item"]::before,
#article-list li[data-element-type="article-list-item"]::before {
    content: counter(css-counter) ". ";
    font-weight: bold;
    margin-right: 0.5rem;
}