package composite_components

// This is a composite component and is used to return multiple components from the server.
// It contains the QuestionListItem and ErrorText components.
// If the question ID is empty, the QuestionListItem will not be rendered.
templ EditQuestionItem() {
}
