package views

templ Layout() {
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Nyhetsjeger</title>
			<link rel="stylesheet" href="/static/css/tailwind.css"/>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		</head>
		<body class="bg-white ">
        <h1 class="text-4xl text-center">Nyhetsjeger</h1>
        { children... }
		</body>
	</html>
}
