package views

templ Layout(contents templ.Component) {
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Nyhetsjeger</title>
			<link rel="stylesheet" href="/static/css/tailwind.css"/>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		</head>
		<body class="bg-white ">
			@contents
		</body>
	</html>
}
