package layout_components

import "github.com/Molnes/Nyhetsjeger/internal/web_server/web/views/components/quiz_components"

templ QuizLayoutMenu(pageTitle string) {
	@QuizLayout(pageTitle) {
		@quiz_components.BurgerMenu()
		{ children... }
	}
}
