package layout_components

templ QuizLayout(pageTitle string) {
	@BaseLayout(pageTitle) {
		<main
			class="bg-gray-100 w-full min-h-screen"
		>
			<div class=" w-full md:w-3/4 lg:w-2/3 mx-auto h-full">
				{ children... }
			</div>
		</main>
	}
}
