package layout_components

import "github.com/Molnes/Nyhetsjeger/internal/web_server/web/views/components/quiz_components"

templ QuizLayoutMenu(pageTitle string) {
	@BaseLayout(pageTitle) {
		@quiz_components.BurgerMenu()
		<main class="w-full md:w-3/4 lg:w-2/3 mx-auto">
			{ children... }
		</main>
	}
}
