package public_pages

import "github.com/Molnes/Nyhetsjeger/internal/web_server/web/views/components/layout_components"

templ LoginPage() {
	@layout_components.BaseLayout("Logg inn") {
		<div class="flex flex-col gap-3 items-center justify-center min-h-screen">
			<a
				href="/auth/google/login"
				class="gradient-bg-button py-2 px-4"
			>
				Logg inn med Google
			</a>
			<a
				href="/guest-quiz"
				class="text-gray-700 hover:underline"
			>Fortsett som gjest</a>
		</div>
	}
}
