package quiz_components

import (
	"github.com/Molnes/Nyhetsjeger/internal/data/articles"
)

templ ArticleList(articles []articles.Article) {
	<div class="flex flex-col gap-3">
		<p>Sjekk ut artiklene som spørsmålene var basert på!</p>
		<div class="flex flex-col">
			for _, article := range articles {
				@ArticleCard(article)
			}
		</div>
	</div>
}
