package quiz_components

import (
	"github.com/Molnes/Nyhetsjeger/internal/data/articles"
)

templ ArticleCard(article articles.Article) {
	<article class="flex flex-row items-center bg-white max-w-screen-sm aspect-[4/1] overflow-hidden">
		<img src={ article.ImgURL.String() } height="160" width="160" class="object-cover h-full w-auto"/>
		<p class="font-bold text-center m-auto p-4">{ article.Title }</p>
	</article>
}
