package quiz_components

templ Question(question string, alternatives []string) {
	<div class="flex flex-col bg-gray-500 text-black">
		<p>{ question }</p>
		for _, alt := range alternatives {
			<p>{ alt }</p>
		}
	</div>
}
