package quiz_pages

import "github.com/Molnes/Nyhetsjeger/internal/web_server/web/views/components/layout_components"

templ ArchivedQuizzes() {
	@layout_components.QuizLayoutMenu("Arkiv") {
		<h1>Arkiv</h1>
	}
}
