
package quiz_pages

import "github.com/Molnes/Nyhetsjeger/internal/web_server/web/views/components/layout_components"

templ QuizProfile() {
	@layout_components.QuizLayout("Profil") {
		<h1>Profil</h1>
	}
}
