package quiz_pages

import (
	"github.com/Molnes/Nyhetsjeger/internal/web_server/web/views/components/layout_components"
	"github.com/Molnes/Nyhetsjeger/internal/models/users/user_quiz"
	"github.com/Molnes/Nyhetsjeger/internal/web_server/web/views/components/quiz_components/play_quiz_components.templ"
)

templ QuizPlayPage(title string, data *user_quiz.QuizData) {
	@layout_components.QuizPlayLayout(title) {
		@play_quiz_components.QuizPlayContent(data)
	}
}
