package quiz_pages

import "github.com/Molnes/Nyhetsjeger/internal/web_server/web/views/components/layout_components"

templ Scoreboard() {
	@layout_components.QuizLayout("Scoreboard") {
		<h1>Scoreboard</h1>
	}
}
