package user_management

templ UsernameInput(inputID string, value string) {
	<input
		id={ inputID }
		class="w-full bg-gray-100 text-gray-500 rounded-input border border-gray-300 px-4 py-2 cursor-not-allowed"
		type="text"
		value={ value }
		disabled
	/>
}
